ul.ico-social {
	list-style-type: none;
	line-height: 1;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0; }

ul.ico-social li {
	display: inline;
	margin-right: 0px; }

ul.ico-social li a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: 582px 444px; }

ul.ico-social li a:hover {
	opacity: .7;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out; }
	
ul.ico-social.black li a {
	background-image: url("../images/icons_black_2x_social.png"); }

ul.ico-social.color li a {
	background-image: url("../images/icons_color_2x_social.png"); }

ul.ico-social.white li a {
	background-image: url("../images/icons_white_2x_social.png"); }
  
/*****
/*  ROW 1 ~ standard social icons 
*****/

.ico-twitter 		{ background-position: 0px -2px; }
.ico-facebook 		{ background-position: -51px 0px; }
.ico-google-plus 	{ background-position: -100px 0px; }
.ico-linkedin 		{ background-position: -150px -2px; }
.ico-pinterest 		{ background-position: -200px 0px; }
.ico-flickr 		{ background-position: -250px 0px; }
.ico-rss 			{ background-position: -300px -2px; }
.ico-vimeo 			{ background-position: -350px 0px; }
.ico-bebo 			{ background-position: -400px 0px; }
.ico-github 		{ background-position: -450px 0px; }
.ico-picasa 		{ background-position: -500px 0px; }
.ico-skype 			{ background-position: -550px 0px; }

/*****
/*  ROW 1 ~ square social icons
*****/

.square .ico-twitter 	 { background-position: 0px -50px; }
.square .ico-facebook 	 { background-position: -50px -50px; }
.square .ico-google-plus { background-position: -100px -50px; }
.square .ico-linkedin 	 { background-position: -150px -50px; }
.square .ico-pinterest 	 { background-position: -200px -50px; }
.square .ico-flickr 	 { background-position: -250px -50px; }
.square .ico-rss 		 { background-position: -300px -50px; }
.square .ico-vimeo 		 { background-position: -350px -50px; }
.square .ico-bebo 		 { background-position: -400px -50px; }
.square .ico-github 	 { background-position: -450px -50px; }
.square .ico-picasa 	 { background-position: -500px -50px; }
.square .ico-skype 		 { background-position: -550px -50px; }

/*****
/*  ROW 1 ~ circle social icons
*****/

.circle .ico-twitter 	 { background-position: 0px -100px; }
.circle .ico-facebook 	 { background-position: -50px -100px; }
.circle .ico-google-plus { background-position: -100px -100px; }
.circle .ico-linkedin 	 { background-position: -150px -100px; }
.circle .ico-pinterest 	 { background-position: -200px -100px; }
.circle .ico-flickr 	 { background-position: -250px -100px; }
.circle .ico-rss 		 { background-position: -300px -100px; }
.circle .ico-vimeo 		 { background-position: -350px -100px; }
.circle .ico-bebo 		 { background-position: -400px -100px; }
.circle .ico-github 	 { background-position: -450px -100px; }
.circle .ico-picasa 	 { background-position: -500px -100px; }
.circle .ico-skype 	 	 { background-position: -550px -100px; }

/*****
/*  ROW 2 ~ standard social icons 
*****/

.ico-youtube 	 { background-position: 0px -150px; }
.ico-dribbble 	 { background-position: -50px -150px; }
.ico-zerply 	 { background-position: -100px -150px; }
.ico-wikipedia   { background-position: -150px -150px; }
.ico-stumbleupon { background-position: -200px -150px; }
.ico-grooveshark { background-position: -250px -150px; }
.ico-digg 		 { background-position: -299px -153px; }
.ico-behance 	 { background-position: -350px -153px; }
.ico-technoratie { background-position: -400px -150px; }
.ico-blogger 	 { background-position: -450px -150px; }
.ico-tumblr 	 { background-position: -500px -150px; }
.ico-dropbox 	 { background-position: -550px -150px; }

/*****
/*  ROW 2 ~ square social icons 
*****/

.square .ico-youtube 	 { background-position: 0px -200px; }
.square .ico-dribbble 	 { background-position: -50px -200px; }
.square .ico-zerply 	 { background-position: -100px -200px; }
.square .ico-wikipedia   { background-position: -150px -200px; }
.square .ico-stumbleupon { background-position: -200px -200px; }
.square .ico-grooveshark { background-position: -250px -200px; }
.square .ico-digg 		 { background-position: -300px -200px; }
.square .ico-behance 	 { background-position: -350px -200px; }
.square .ico-technoratie { background-position: -400px -200px; }
.square .ico-blogger 	 { background-position: -450px -200px; }
.square .ico-tumblr 	 { background-position: -500px -200px; }
.square .ico-dropbox 	 { background-position: -550px -200px; }

/*****
/*  ROW 2 ~ circle social icons 
*****/

.circle .ico-youtube 	 { background-position: 0px -250px; }
.circle .ico-dribbble	 { background-position: -50px -250px; }
.circle .ico-zerply 	 { background-position: -100px -250px; }
.circle .ico-wikipedia 	 { background-position: -150px -250px; }
.circle .ico-stumbleupon { background-position: -200px -250px; }
.circle .ico-grooveshark { background-position: -250px -250px; }
.circle .ico-digg 		 { background-position: -300px -250px; }
.circle .ico-behance 	 { background-position: -350px -250px; }
.circle .ico-technoratie { background-position: -400px -250px; }
.circle .ico-blogger 	 { background-position: -450px -250px; }
.circle .ico-tumblr		 { background-position: -500px -250px; }
.circle .ico-dropbox 	 { background-position: -550px -250px; }

/*****
/*  ROW 3 ~ standard social icons 
*****/

.ico-weibo 	 			 { background-position: 0px -299px; }
.ico-wechat 			 { background-position: -50px -299px; }

/*****
/*  ROW 3 ~ square social icons 
*****/

.square .ico-weibo 	 	 { background-position: 0px -351px; }
.square .ico-wechat 	 { background-position: -50px -352px; }

/*****
/*  ROW 3 ~ circle social icons 
*****/

.circle .ico-weibo 	 	 { background-position: 0px -401px; }
.circle .ico-wechat	 	 { background-position: -50px -401px; }